* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --main0transition: .3s;
    --maincolor: #2196f3;
    --text-color: #797474;
    --gray-color: #f3f3f3;
    --Quality-color: #f44036;
    --Time-color: #009688;
    /* ^^^ I will use this color in Testimonials*/
    --Passion-color: #2196f3;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Cairo", sans-serif;
}

p {
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--maincolor);
    font-weight: bold;
    z-index: 5;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Start Component */
/* Start background dot images */
.event .container {
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
    position: relative;
}

.back-image .img-1 {
    position: absolute;
    top: 80px;
    right: 0px;
}

.back-image .img-2 {
    position: absolute;
    bottom: 70px;
    left: 0px;
}

/* End background dot images */
/* Start Part Name */
.part-name {
    width: fit-content;
    margin: 80px auto;
    padding: 10px 30px;
    font-size: 30px;
    border: 2px solid black;
    position: relative;
    transition: var(--main0transition);
    text-transform: uppercase;
    z-index: 1;

}

.part-name::before,
.part-name::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--maincolor);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.part-name::before {
    left: -50px;
}

.part-name::after {
    right: -50px;
}

.part-name:hover {
    border: 2px solid white;
    color: white;
    transition-delay: .5s;
}

.part-name:hover::before {
    animation: move-to-left .5s linear forwards;
    z-index: -1;
}

.part-name:hover::after {
    animation: move-to-right .5s linear forwards;
    z-index: -1;
}


@keyframes move-to-left {
    50% {
        left: 0px;

    }

    100% {
        width: 50%;
        height: 100%;
        left: 0px;
        border-radius: 0%;
    }
}

@keyframes move-to-right {
    50% {
        right: 0px;

    }

    100% {
        width: 50%;
        height: 100%;
        right: 0px;
        border-radius: 0%;
    }
}

/* End Part Name  */
/* End Component */
/* start header */
.header {
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    position: relative;
}

.header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.header .container .home-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width : 770px) {
    .header .container .home-link {
        padding: 15px 0px;
        width: 100%;
    }
}

.header .container a {
    color: var(--maincolor);
    font-size: 20px;
}

.header .container .links>ul {
    display: flex;
}

.header .container .links>ul li a {
    color: rgb(0, 0, 0);
    margin: auto;
    transition: var(--main0transition);
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 10vw;
    height: 70px;
    padding: 20px 10px;
    text-align: center;
}

.header .container .links>ul li a::after {
    content: "";
    position: absolute;
    top: 0px;
    left: -100%;
    width: 100%;
    height: 3px;
    background-color: var(--maincolor);
    transition: var(--main0transition);
}

.header .container .links>ul li a:hover {
    background-color: #fafafa;
    color: var(--maincolor);
}


.header .container .links>ul li a:hover::after {
    left: 0;
}


@media (max-width : 1030px) {
    .header .container .links>ul li a {
        width: 15vw;
    }
}

@media (max-width : 770px) {
    .header .container .links {
        margin: auto;
    }

    .header .container .links>ul li a {
        width: 90px;
        font-size: 15px;

    }
}

.header .container .links ul li:last-child .main-shape {
    padding: 35px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    right: 0%;
    top: 0%;
    border-bottom: 2px solid var(--maincolor);
    background-color: white;
    transition: all var(--main0transition);
    opacity: 0;
    z-index: -2;
}

.header .container .links ul li:last-child:hover>.main-shape {
    top: calc(100% + 2px);
    opacity: 1;
    z-index: 1;
}

@media (max-width : 1230px) {
    .left-side-image img {
        display: none;
    }
}

@media (max-width : 991px) {
    .header .container .links ul li:last-child .main-shape {
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }

    .main-shape>div {
        width: 100%;
    }

    .header .container .links ul li:last-child a {
        width: 100%;
    }

    .header .container .links ul li:last-child .main-shape>.middle-side ul li:last-child a {
        border-bottom: 1px solid #b3b3b3;
    }
}

.main-shape>div a:not(:last-child) {
    border-bottom: 1px solid #1447f1;
}

.header .container .links ul li:last-child .main-shape>div a {
    color: var(--maincolor);
    min-width: 250px;
    text-align: left;
    border-bottom: 1px solid #b3b3b3;
    position: relative;
    height: 50px;
    padding: 10px;
}

.header .container .links ul li:last-child .main-shape div ul li:last-child a {
    border-bottom: none;
}

.header .container .links ul li:last-child .main-shape>div a::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    background-color: #f1f1f1;
    z-index: -1;
}

.header .container .links ul li:last-child .main-shape>div a:hover::after {
    left: 0;
}

/* end header */
/* start landing */
.landing {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.landing::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #ececec;
    z-index: -1;
    transform: skewY(-10deg);
    transform-origin: top left;
}

.landing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.landing .container .description {
    margin-top: 150px;
    width: 50%;
}

@media (max-width : 995px) {
    .landing {
        height: 80vh;
    }

    .landing .container .description {
        width: 100%;
        text-align: center;
    }
}

.landing .container .description h3 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
}

.landing .container .description p {
    color: #b3b3b3;
    line-height: 2;
    max-width: 80%;
}

@media (max-width : 995px) {
    .landing .container .description p {
        margin: 20px auto;
    }
}

.landing .container .landind-shape img {
    position: relative;
    width: 500px;
    animation: img-animation 4s alternate infinite linear;
}

@media (max-width : 995px) {
    .landing .container .landind-shape img {
        display: none;
    }
}

@keyframes img-animation {
    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(30px);
    }
}

.landing .go-down {
    color: var(--maincolor);
    padding: 10px;
    animation: go-down-animation 2s infinite;
}

@keyframes go-down-animation {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-15px);
    }
}

/* end landing */

/* Start articles */

.Articles {
    padding-bottom: 80px;
}

.Articles .container {
    padding-top: 50px;
}

.Articles .container .the-article {
    overflow: hidden;
    border-radius: 15px;
    background-color: #f9fcfd;
    box-shadow: 0 0 0 rgb(0 0 0 / 10%);
    transition: var(--main0transition);
}

.Articles .container .the-article:hover {
    transform: translateY(-20px);
    box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
}

.Articles .container .the-article img {
    width: 100%;
}

.Articles .container .the-article .text,
.read-more {
    padding: 20px;
}

.Articles .container .the-article .text>h3 {
    padding-bottom: 10px;
}

.Articles .container .the-article .read-more {
    display: flex;
    justify-content: space-between;
    color: var(--maincolor);
}

.Articles .container .the-article:hover .read-more>i {
    animation: read-more-direction .5s infinite linear;
}

@keyframes read-more-direction {
    to {
        transform: translateX(10px);
    }
}

/* End articles */
/* Start Galery */
.Gallery {
    padding: 50px 0px;
    background-color: #ececec;
}

.Gallery .grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.Gallery .container .gallery-box {
    background-color: white;
    border: 15px solid white;
    overflow: hidden;
    transition: var(--main0transition);
    position: relative;
}

.Gallery .container .gallery-box img {
    width: 100%;
}

.Gallery .container .gallery-box:hover img {
    transform: rotate(10deg) scale(1.2);
}

.Gallery .container .gallery-box::after {
    content: "";
    width: 0px;
    height: 0px;
    background-color: white;
    opacity: .2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.Gallery .container .gallery-box:hover::after {
    animation: gallery-animation var(--main0transition) linear;
    z-index: 1;
}

@keyframes gallery-animation {
    to {
        width: 100%;
        height: 100%;
    }

}

/* End Galery */
/* Start Features */

.Features .container .grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.Features .container .features-box .features-item {
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
}

.features-box .features-item::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 50%;
    background-color: red;
    opacity: .5;

}

.Features .container .features-box .features-item>img {
    width: 100%;
    height: 50%;
}

.features-info {
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    gap: 50px;
    position: relative;
    padding: 0px 10px 20px 0px;
}

.Features .container .features-box .features-item>.features-info::before {
    content: "";
    position: absolute;
    top: -70%;
    left: -50%;
    width: 200%;
    height: 80%;
    background-color: white;
    transform-origin: bottom left;
    transform: skewX(-70deg);
    transition: var(--main0transition);
    z-index: 5;
}

.Features .container .features-box .features-item:hover .features-info::before {
    transform: skewX(70deg)
}

.Features .container .features-box .features-item h3 {
    width: fit-content;
    font-size: 40px;
    font-weight: bold;
    padding: 20px;
    margin: auto;
    border-bottom: 5px solid red;
}

.Features .container .features-box .features-item button {
    width: 100px;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: 2px solid red;
    border-radius: 10px;
    margin: auto;
    position: relative;
}

.Features .container .features-box .features-item button::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0%;
    height: 100%;
    border-radius: 10px;
    background-color: red;
    transition: var(--main0transition);
    z-index: -1;
}

.Features .container .features-box .features-item:hover .features-info button a {
    color: white;
    font-size: 20px;
}

.Features .container .features-box .features-item:hover .features-info button::before {
    width: 100%;
    color: white;
}

/* Second Feature color Style */
.features-box .features-item:nth-child(2)::after {
    background-color: var(--Time-color);
}

.Features .container .features-box .features-item:nth-child(2) h3 {
    border-bottom: 5px solid var(--Time-color);
}

.Features .container .features-box .features-item:nth-child(2) button {
    outline: 2px solid var(--Time-color);
}

.Features .container .features-box .features-item:nth-child(2) button::before {
    background-color: var(--Time-color);
}

/* Third Feature color Style */
.features-box .features-item:nth-child(3)::after {
    background-color: var(--Passion-color);
}

.Features .container .features-box .features-item:nth-child(3) h3 {
    border-bottom: 5px solid var(--Passion-color);
}

.Features .container .features-box .features-item:nth-child(3) button {
    outline: 2px solid var(--Passion-color);
}

.Features .container .features-box .features-item:nth-child(3) button::before {
    background-color: var(--Passion-color);
}

/* End features */

/* Start testimonials */
.Testimonials {
    margin: 80px 0px;
    padding: 50px 0px;
    background-color: var(--gray-color);
}

.Testimonials h2 {
    font-size: 30px;
}

.Testimonials .container .grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.testimonials-box .box {
    background-color: white;
    padding: 10px 0px 15px 0px;
    position: relative;


}

.testimonials-box .box h3,
p {
    padding: 10px 10px 0px 10px;

}

.testimonials-box .box i {
    padding: 10px 0px 0px 10px;

}

.Testimonials .container .testimonials-box .box .rate .filled {
    color: gold;
}

.Testimonials .container .testimonials-box .box img {
    width: 25%;
    position: absolute;
    border: 10px solid #f3f3f3;
    ;
    border-radius: 50%;
    right: 0px;
    top: -30%;
}

/* End testimonials */

/* Start Team Members */
.Team-members .grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

}

.Team-members .container .member {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;
    background-color: #f3f3f3;
    padding: 50px 20px 20px 0px;
    width: fit-content;
    border-radius: 20px;
    margin: auto;
    position: relative;
}

.Team-members .container .member::before {
    content: "";
    width: 0%;
    height: 100%;
    background-color: rgb(0, 0, 0, 5%);
    border-radius: 20px;
    position: absolute;
    top: 0%;
    right: 0%;
    transition: var(--main0transition);
}

.Team-members .container .member:hover::before {
    width: 100%;
}


.Team-members .container .member .photo-social {
    display: flex;
}

.Team-members .container .member .photo-social .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    z-index: 2;
}

.Team-members .container .member .photo-social>img {
    width: 250px;
    border-radius: 20px;
    transform: translateX(-50px);
}

.Team-members .container .member:hover .photo-social>img {
    filter: grayscale(100%);
}

.Team-members .container .member .info h3 {
    padding: 0px 0px 10px 10px;
    color: var(--maincolor);
}

.Team-members .container .member:hover .info h3 {
    color: var(--text-color);
}

.Team-members .container .member .info span {
    display: inline-block;
    padding-left: 10px;

}

/* End Team Member */
/* Start Services */
.services {
    background-color: var(--gray-color);
    margin: 80px 0px;
    padding: 50px 0px;
}

.services .grid {

    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.services-box {
    padding: 20px 0px 0px;
    background-color: white;
    font-size: 20px;
    color: #d4d4d4;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    counter-increment: count;
    transition: var(--main0transition);
    position: relative;

}

.services-box:hover {
    transform: translateY(-20px);
    box-shadow: 0 10px 10px rgb(0 0 0 / 15%);

}

.services-box::before {
    content: "";
    width: 0px;
    height: 5px;
    background-color: var(--maincolor);
    position: absolute;
    top: 0px;
    transition: var(--main0transition);
}

.services-box:hover::before {
    width: 100%;
}

.services-box h3 {
    font-size: 30px;
    color: var(--maincolor);
}

.services-box .details {
    padding: 10px;
    width: 100%;
    text-align: end;
    background-color: #f9f9f9;
    position: relative;
}

.services-box .details::before {
    content: "0" counter(count);
    height: 100%;
    width: 30%;
    background-color: var(--maincolor);
    color: white;
    font-size: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}

.services-box .details::after {
    content: "";
    width: 10%;
    height: 100%;
    background-color: #d5d5d5;
    position: absolute;
    top: 0px;
    left: 25%;
    transform: skewX(-20deg);
}

/* End Services */
/* Start Our Skils */
.our-skills {
    margin: 80px 0px;
}

.our-skills .container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.our-skills .container .skil-rate {
    width: 60%;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.our-skills .container .skil-rate .the-rate {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    background-color: var(--gray-color);
}

.our-skills .container .skil-rate .the-rate>span {
    height: 100%;
    position: relative;
    display: block;
}


.our-skills .container .skil-rate .the-rate span::before {
    content: "";
    width: 0%;
    height: 100%;
    background-color: var(--maincolor);
    position: absolute;
    top: 0px;
    left: 0px;
    transition: 1s;
}

.our-skills .container:hover .the-rate span::before {
    width: 100%;
}

.the-rate span::after {
    content: attr(data);
    position: absolute;
    top: -120%;
    right: -15px;
    background-color: var(--maincolor);
    color: white;
    padding: 10px;
    font-size: 10px;
    border-radius: 50%;
    opacity: 0;
}

.our-skills .container:hover .the-rate span::after {
    animation: rate-animation var(--main0transition) 1s forwards;
}

@keyframes rate-animation {
    0% {}

    100% {
        opacity: 1;
    }
}

@media (max-width:995px) {
    .our-skills .container img {
        display: none;
    }

    .our-skills .container .skil-rate {
        width: 100%;
    }
}

/* End Our Skils */
/* Start How it works */
.work {
    margin: 80px 0px;
    padding: 50px 0px;
    background-color: var(--gray-color);
}

.work .container {
    display: flex;
    gap: 50px;
    align-items: center;
}


.work .container .steps .box {
    padding: 30px 20px;
    width: 100%;
    min-height: 180px;
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.work .container .steps .box::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-color: rgb(0, 0, 0, 5%);
    transition: var(--main0transition);
}

.work .container .steps .box:hover::before {
    width: 100%;
    height: 100%;
}

.work .container .steps .box img {
    width: 80px;
    height: 80px;
    padding-right: 20px;
}

.work .container .steps .box .text-step h3 {
    padding-left: 10px;
}

.work .container .steps .box p {
    line-height: 2;
}

@media (max-width : 995px) {
    .work .container>img {
        width: 100%;
    }

    .work .container {
        flex-direction: column;
        align-items: center;
    }

    .work .container .steps .box {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

}

/* End How it works */
/* Start Events */
.event {
    position: relative;
}

.event .main-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.event .main-box img {
    width: 400px;
    height: 400px;
}

.event .main-box .event-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event .main-box .event-box .time-box {
    display: flex;
    gap: 30px;
}

.event .main-box .event-box .time-box .time {
    border: 2px solid #b9b9b9;
    padding: 20px 20px 5px 20px;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.event .main-box .event-box .time-box .time::after {
    content: "";
    position: absolute;
    top: 70%;
    left: 0px;
    width: 100%;
    height: .1px;
    border: 1.5px solid #b9b9b9;
}

.event .main-box .event-box .time-box .time:hover,
.event .main-box .event-box .time-box .time:hover::after {
    border-color: var(--maincolor);
}

.event .main-box .event-box .time h2 {
    color: var(--maincolor);
    padding-bottom: 5px;
}

.event .main-box .event-box p {
    line-height: 2;
    text-align: center;
}

.search-box {
    padding: 30px;
    background-color: var(--gray-color);
    width: 50%;
    border-radius: 50px;
}

.search-box input[type="email"] {
    width: 70%;
    padding: 20px;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: white;
}

.search-box input[type="email"]::placeholder {
    transition: opacity var(--main0transition);
}

.search-box input[type="email"]:focus::placeholder {
    opacity: 0;
}

.search-box input[type="submit"] {
    background-color: var(--maincolor);
    padding: 20px 0px;
    border-radius: 50px;
    border: none;
    outline: none;
    color: white;
    margin-left: 2%;
    cursor: pointer;
    transition: var(--main0transition);
    width: 25%;
    font-weight: bold;
}

.search-box input[type="submit"]:hover {
    background-color: #237fe9;
}

@media (max-width : 995px) {
    .event .main-box img {
        display: none;
    }

    .search-box {
        width: 100%;
        border-radius: 0;
        position: relative;

    }

    .search-box form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .search-box form input[type="email"],
    .search-box form input[type="submit"] {
        width: 100%;
        border-radius: 0;
    }

}

/* End Events */
/* Start Plans  */
.pricing {
    background-color: var(--gray-color);
    margin: 80px 0px;
    padding: 50px 0px;
    position: relative;
}

.pricing .back-image .img-1 {
    position: absolute;
    top: 200px;
    right: 0px;
}

.pricing .container {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.pricing .plan {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding-bottom: 25px;
    box-shadow: 0px 10px 15px rgb(0 0 0 / 15%);
    position: relative;
    transition: var(--main0transition);
}

.pricing .plan::before,
.pricing .plan::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 50%;
    background-color: rgb(0 0 0 / 10%);
    transition: var(--main0transition);
}

.pricing .plan::before {
    top: 0px;
    left: 0px;
}

.pricing .plan::after {
    bottom: 0px;
    right: 0px;
}

.pricing .plan:hover::before,
.pricing .plan:hover::after {
    width: 100%;
}

.pricing .plan .top img {
    width: 100px;
}

.pricing .plan .top p {
    font-size: 70px;
    font-weight: bold;
    color: var(--maincolor);
}

.pricing .plan .top span {
    color: #757975;
}

.pricing .plan .center {
    width: 100%;
    text-align: start;
    align-self: self-start;
}

.pricing .plan .center p {
    padding: 10px 0px;
    color: black;
    font-size: 17px;
    border-top: 1px solid gray;
}

.pricing .plan .center span {
    font-size: 25px;
    font-weight: bold;
    padding: 0px 10px;
    color: var(--maincolor);
}

.pricing .plan .bottom {
    z-index: 5;
}

.pricing .plan .bottom button {
    background-color: transparent;
    border: none;
}

.pricing .plan .bottom button a {
    display: block;
    border: 3px solid var(--maincolor);
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 10px;
    transition: var(--main0transition);
}

.pricing .plan .bottom button a:hover {
    background-color: var(--maincolor);
    color: white;
}

.pricing .container .plan:nth-child(2) {
    transform: translateY(-20px);
}

.pricing .plan:nth-child(2) .top::before {
    content: "Most Popular";
    position: absolute;
    top: 65px;
    right: -25px;
    width: 180px;
    height: 50px;
    background-color: var(--maincolor);
    color: white;
    font-size: 20px;
    line-height: 2.5;
    transform: rotate(90deg);
}

.pricing .plan:nth-child(2) .top::after {
    content: "";
    position: absolute;
    top: 131px;
    right: 40px;
    border-width: 25px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

@media (max-width : 995px) {
    .pricing .container .plan:nth-child(2) {
        transform: translateY(0px);
    }
}

/* End Plans  */
/* Start Top video  */
.top-video .container {
    display: flex;
}

.top-video .right-side {
    width: 70%;
    overflow: hidden;
    background-color: #dcdcdc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.top-video .right-side img {
    width: 100%;
}

.top-video .right-side p {
    background-color: white;
    color: black;
    padding: 20px;
}

.top-video .left-side {
    width: 30%;
    border: 1px solid var(--gray-color);
}

.top-video .left-side .top {
    background-color: var(--gray-color);
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.top-video .left-side ul li {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-top: 1px solid var(--gray-color);
    cursor: pointer;
    transition: var(--main0transition);
}

.top-video .left-side ul li:hover {
    color: var(--maincolor);
    background-color: rgb(0 0 0 / 3%);
}

@media (max-width:995px) {
    .top-video .container {
        flex-direction: column;
    }

    .top-video .container>div {
        width: 100%;
    }
}

/* End Top video  */
/* Start Stats */
.stats {
    background-image: url("../imgs/stats.jpg");
    background-size: cover;
    margin: 80px 0px 0px 0px;
    padding: 50px 0px;
    position: relative;
}

.stats>h2 {
    font-size: 25px;
}

.stats::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

.stats .stat-box {
    background-color: white;
    z-index: 5;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    font-weight: bold;
    position: relative;
}

.stats .stat-box>p {
    color: var(--maincolor);
    font-size: 20px;

}

.stats .stat-box::before,
.stats .stat-box::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 0%;
    background-color: var(--maincolor);
    transition: 1s;
}

.stats .stat-box::before {
    left: 0px;
    bottom: 0px;
}

.stats .stat-box::after {
    right: 0px;
    top: 0px;
}

.stats .stat-box:hover::before,
.stats .stat-box:hover::after {
    height: 100%;
}

/* End Stats */
/* Start Request  */
.request {
    display: flex;
    height: fit-content;
}

.request>div,
.request>.req-form form {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.request .info::before,
.request .info::after {
    content: "";
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}

.request>.info::before {
    background-image: url("../imgs/discount-background1.jpg");
    background-size: cover;
    z-index: -2;
}

.request>.info::after {
    background-color: var(--maincolor);
    opacity: 95%;
    z-index: -1;
}

.request>.info .text {
    width: 70%;
    text-align: center;
    line-height: 2;
    color: white;
}

.request>.info h1 {
    font-size: 40px;
}

.request>.info .text p {
    color: white;
}

.request>.info img {
    width: 300px;
    height: 400px;
}

.req-form {
    padding: 20px 0px;
}

.request>.req-form form {
    gap: 30px;
}

.req-form form input,
.req-form form textarea {
    width: 80%;
    padding: 15px;
    border-width: 1px;
    border-color: transparent transparent gray transparent;
    background-color: var(--gray-color);
    outline: none;
    caret-color: var(--maincolor);
}

.req-form form textarea {
    resize: none;
    height: 200px;
}

.req-form form input[value="Send"] {
    border: none;
    background-color: var(--maincolor);
    color: white;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: var(--main0transition);
}

.req-form form input[value="Send"]:hover {
    background-color: #237fe9;
}

@media (max-width : 1000px) {
    .request {
        flex-direction: column;
    }

    .request>div,
    .request>.req-form form {
        width: 100%;
    }

    .request>.info .text {
        width: 100%;
        line-height: 1.5;
    }

    .request>.req-form form {
        gap: 20px;
    }
}

/* End Request  */
/* Start Footer  */
.footer {
    background-color: #191919;
    padding: 70px 0 0;
}

.defination {
    color: white;
}

.defination h1 {
    margin-top: 0px;
    font-size: 50px;
}

.defination .social ul {
    display: flex;
    gap: 20px;
    padding: 10px 0px;
}

.defination .social ul li a {
    color: gray;
    font-size: 20px;
    padding: 5px 20px;
    background-color: #313131;
    transition: var(--main0transition);
    border-radius: 10px;
}

.defination .social ul li:nth-child(1) a:hover {
    background-color: #1877f2;
}

.defination .social ul li:nth-child(2) a:hover {
    background-color: #1da1f2;
}

.defination .social ul li:nth-child(3) a:hover {
    background-color: #ff0000;
}

.defination .text p {
    padding-left: 0px;
    line-height: 2;
}

.footer .important-link ul {
    color: var(--maincolor);
}

.footer .important-link ul li {
    padding: 10px 0px;
    border-bottom: 1px solid gray;
}

.footer .important-link ul li:last-child {
    border: none;
}

.footer .important-link ul li span {
    color: var(--maincolor);
    font-size: 25px;
    padding-right: 10px;
}

.footer .important-link ul li a {
    color: rgb(155, 153, 153);
    display: inline-block;
    transition: var(--main0transition);
}

.footer .important-link ul li:hover a {
    transform: translateX(20px);
    color: white;
}

.information>div {
    display: flex;
    color: rgb(155, 153, 153);
    line-height: 2;
    align-items: center;
    gap: 20px;
    font-weight: bold;
}

.information>div>i {
    font-size: 30px;
    color: var(--maincolor);
}

.footer .images>img {
    width: 80px;
    border: 2px solid white;
}

.footer>p {
    border-top: 1px solid gray;
    padding: 20px;
    font-size: 18px;
    color: white;
    text-align: center;
    margin-top: 20px;
}

@media (max-width : 600px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .defination {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .information>div {
        flex-direction: column;
        margin-bottom: 20px;
    }
}

/* End Footer  */